<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            
            <a class="btn btn-primary btn-lg" href="/signin">
                Abertura De Chamados
            </a>
        </div>
        <div class="overlay"></div>
    </header>
</main>