<div class="container p-4">
  <div class="row" >

    <div class="col-md-4 mx-auto">
      <div class="card text-center">
        
        <img src="/img/lg1.png" alt="Logo Fazt" class="card-img-top mx-auto m-2 rounded-circle w-55">
        <hr>
        <div class="card-body">
          <form action="/signin" method="POST">
            <div class="form-group">
              <input type="text" name="nomeusu" placeholder="Login" class="form-control" autofocus>
            </div>
            <div class="form-group">
              <input type="password" name="senha" placeholder="Senha" class="form-control">
            </div>
            <button class="btn btn-primary btn-block">
              Entrar
            </button>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>